test1
<div class="modal" *ngIf="show">
  <div class="container">
    <div>
      <div class="modal-header">
        <h2>Biography</h2>
        <h2>FullName: {{ detail?.fullName }}</h2>
        <button (click)="close()" class="btn btn-danger todo-close">x</button>
      </div>
      <div class="modal-content">
        <img src="https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/728-ymir.jpg">
        <label for="">alterEgos:</label>
        <p> {{ detail?.alterEgos }} </p>

        <label for="">aliases:</label>
        <p> {{ detail?.aliases }} </p>

        <label for="">placeOfBirth:</label>
        <p> {{ detail?.placeOfBirth }} </p>

        <label for="">firstAppearance:</label>
        <p> {{ detail?.firstAppearance }} </p>

        <label for="">publisher:</label>
        <p> {{ detail?.publisher }} </p>

        <label for="">alignment:</label>
        <p> {{ detail?.alignment }} </p>
      </div>
    </div>
  </div>
</div>
