<div class="card">
  <h2>Biography</h2>
  <h2>FullName: {{ detail.fullName }}</h2>

  <label for="">alterEgos:</label>
  <p> {{ detail.alterEgos }} </p>

  <label for="">strength:</label>
  <p> {{ detail.alterEgos.strength }} </p>

  <label for="">aliases:</label>
  <p> {{ detail.alterEgos.aliases }} </p>

  <label for="">placeOfBirth:</label>
  <p> {{ detail.alterEgos.placeOfBirth }} </p>

  <label for="">firstAppearance:</label>
  <p> {{ detail.alterEgos.firstAppearance }} </p>

  <label for="">publisher:</label>
  <p> {{ detail.alterEgos.publisher }} </p>

  <label for="">alignment:</label>
  <p> {{ detail.alterEgos.alignment }} </p>
</div>
