<div class="card">
  <h2>{{ hero.id }}. {{ hero.name }} </h2>
  <img src="{{hero.images.sm}}" alt="" (click)="redirect()">
  <h3 for="">Power Stats:</h3>

  <app-stat title="Intelligence" [powerLevel]="hero.powerstats.intelligence"></app-stat>
  <app-stat title="strength" [powerLevel]="hero.powerstats.strength"></app-stat>
  <app-stat title="speed" [powerLevel]="hero.powerstats.speed"></app-stat>
  <app-stat title="durability" [powerLevel]="hero.powerstats.durability"></app-stat>
  <app-stat title="power" [powerLevel]="hero.powerstats.power"></app-stat>
  <app-stat title="combat" [powerLevel]="hero.powerstats.combat"></app-stat>
  <!-- {{hero.powerstats.intelligence | json}} -->
</div>
