<div class="card">
  <h2>Título</h2>
  <label for="">ID:</label>
  <p>{{ hero.id }}</p>
  <br>
  <label for="">Name:</label>
  <p> {{ hero.name }} </p>

  <label for="">Power Stats:</label>
  <label for="">Intelligence:</label>
  <p> {{ hero.powerstats.intelligence }} </p>
  <label for="">strength:</label>
  <p> {{ hero.powerstats.strength }} </p>
  <label for="">speed:</label>
  <p> {{ hero.powerstats.speed }} </p>
  <label for="">durability:</label>
  <p> {{ hero.powerstats.durability }} </p>
  <label for="">power:</label>
  <p> {{ hero.powerstats.power }} </p>
  <label for="">combat:</label>
  <p> {{ hero.powerstats.combat }} </p>
</div>
